.app {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.article-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 18rem);
    grid-template-rows: repeat(auto-fill, 18rem);
    column-gap: 2rem;
    justify-content: center;
}

.article-card img {
    width: 18rem;
}

.article-scroll {
    display: flex;
    gap: 0.3rem;
    max-height: 34rem;
    overflow: scroll;
}

.join-btn {
    border-style: none;
    background-color: inherit;
    font-size: 3rem;
    margin-bottom: 7rem;
    border: 2px solid black;
}

.topics {
    margin-bottom: 5rem;

}

.topic-card {
    display: inline;
    border: 0.2rem solid black;
    margin-right: 2rem;
    padding: 0.3rem;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: red;
    text-align: center;
}

.landing-header {
    margin-bottom: 10rem;
}

.recommended {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.comments-container {
    display: flex;
    border: 2px solid black;
    padding: 0.5rem;
    flex-direction: column;
}

.comment-body{
    display: block;
    width: 100%;
    margin: 0;
}

.comment-card {
    display: flex;
    border: 2px solid red;
    flex-wrap: wrap;
}

.comment-card img {
    height: 48px;
    margin-right: 0.5rem;
}

/* .comment-card button {
    border: none;
    background-color: inherit;
} */

.comment-time {
    margin-left: 0.5rem;
    font-size: 0.7rem;
    display: inline;
}

.votes {
    display: block;
    margin: 0;
}


